* {
    box-sizing: border-box;
}
html, body, h1, h2, h3, h4, h5, h6, p, ul, li {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;

}


.hero-image {
    background-image: url(background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(242, 245, 248);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    width: 100%;
    height:520px;
    
}

.logo {
    position: absolute;
    top: 38px;
    left: 64px;
    width:224px;

}

.nav-position {
    position:absolute;
    top: 50px;
    left: 363px;
}

.background-color1 {
    background-color: #deffee;
}

.background-color2 {
    background-color: #f8bfc8;
}

.frame {
    border-radius: 48px;
    padding: 18px;
}

.nav-item {
    display: inline-block;
    margin-left: 16px;
    font-weight: 400;
    font-size: 27px;
    text-align: center;
}

.p-header {
    position: absolute;
    top:208px;
    left: 114px;
    font-style: italic;
    font-family: Brush Script MT, cursive ;
    font-weight:800;
    font-size: 75px;   
}


.padding {
       padding: 56px 48px 0px 48px;

} 
    

.div-img {
    width: 50%;
    margin-left: 50px;
}

.d-inline-b {
    display: inline-block;
}


h1 {
    position:absolute;
    right:100px;
    font-family: Brush Script MT, cursive;
    font-size: 76px;
    top:650px;
    
}

.p1-div {
    position:absolute;
    right:16px;
    font-size: 12px;
    font-weight: 500;
    top: 760px;
}
 
.list-main {
    margin-left: 50%;
    padding-right: 40px;
    padding-left:130px;
    text-align: justify;
    position:relative;
    bottom: 190px;
    font-size:18px;
    
}


 main, section {
    background-color: #f5f2f2;
   }

h2 {
    text-align: center;
    font-family:  Script MT, cursive;
    font-size: 82px;
    margin-bottom:32px;

}

.div-1 {
    position:relative;
    bottom: 104px;
}

.div-p {
    text-align: center;
    font-size: 18px;
    font-style: italic;
    border-radius: 12px;
    padding:24px;
    
}

hr {
    border-width: 1px;

}

.p-about {
    text-align: justify;
    font-size: 20px;
}

span {
    font-style: italic;
    font-weight: 800;
    font-size: 22px;
    text-shadow: 2px 2px 5px #f8a0ad;
   

}

.p-languages {
    font-style: italic;
    font-weight: 800;
    font-size: 22px;
    text-shadow: 2px 2px 5px #f8a0ad;
    text-align: center;
}

.div-languages {
    padding-bottom: 12px;
    margin-left: 130px;
    font-size: 18px;
    padding-top:12px;
    
   
    
}

.m-r {
    margin-right:70px;
}



.btn {
    text-align: center;
    padding:12px 74px;
    margin-right:156px;
    border-radius: 16px;
    font-size: 13px;
    font-weight: 700;
    cursor: pointer;

}

.btn-hover:hover {
        background-color: #f8a0ad;
        color: #fbf3f4;
}

form {
    padding-top: 64px;
    padding-left: 504px;
    
    
}


.p-form {
    
    font-size: 18px;
    font-style: italic;
    font-weight: 600;
}

.form-input {
    width: 360px;
    margin-top: 9px;
    font-weight: 400;
    font-size: 12px;
    text-align: left;
    border-radius: 7px;
    padding: 12px;
}


.padding-left {
        padding-left:36px;
    }

.padding-right {
        padding-right: 36px;
    }


.p-footer {
    font-style: italic;
    font-family: Brush Script MT, cursive ;
    font-weight:800;
    font-size: 70px; 
}

.socials {     
    text-align: center;

}

.font-cambria {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;

}

.font-lucida {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}









